@model FoodWaste.Domain.Cafeteria

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cafeteria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HasWarmMeals)
        </dt>
        <dd class="col-sm-10">
            @switch (Model.HasWarmMeals)
            {
                case true:
                    <span>&#10003;</span>
                    break;
                case false:
                    <span>&#10007;</span>
                    break;
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
